@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --border: #E5E7EB;
  --text: #101828;
  --white-off: #101828;
  --table-text-h: #4A5565;
  --table-text-id: #6A7282;
  --table-bg: #FFFFFF;
  --offer-search: #F9FAFB;
  --offer-search-main: #FFFFFF;
  --offer-tab-text: #FFFFFF;
  --sidebar-text: #4A5565;
  --all-sub-h: #4A5565;
  --table-row-bg: #F9FAFB;
  --scanner-text: #4A5565;
  --gold: #FEF9C2;
  --gold-text: #A65F00;
  --silver: #D1D5DC;
  --silver-text: #364153;
  --bronze: #FFEDD4;
  --bronze-text: #CA3500;
  --payout-bg: #DCFCE7;
  --payout-bg-text: #008236;
  --payout-line-bg: #E5E7EB;
  --panding-bg: #FEF9C2;
  --panding-bg-text: #A65F00;
  --tentative-bg: #DBEAFE;
  --tentative-bg-text: #1447E6;
  --confirmed-bg: #DCFCE7;
  --confirmed-bg-text: #008236;
  --completed-bg: #E5E7EB;
  --canceled-bg: #FFE2E2;
  --canceled-bg-text: #C10007;
}

.dark {
  --background: #000000;
  --border: #27272A;
  --text: #FFFFFF;
  --white-off: #fafafa;
  --table-text-h: #9F9FA9;
  --table-text-id: #71717B;
  --table-bg: #09090B;
  --offer-search: #2626264D;
  --offer-search-main: #09090B;
  --offer-tab-text: #09090B;
  --sidebar-text: #9F9FA9;
  --all-sub-h: #9F9FA9;
  --table-row-bg: #18181B;
  --scanner-text: #9F9FA9;
  --gold: #733E0A;
  --gold-text: #FFDF20;
  --silver: #3F3F47;
  --silver-text: #D4D4D8;
  --bronze: #7E2A0C;
  --bronze-text: #FFB86A;
  --payout-bg: #0D542B;
  --payout-line-bg: #27272A;
  --panding-bg: #733E0A;
  --panding-bg-text: #FFDF20;
  --tentative-bg: #1C398E;
  --tentative-bg-text: #8EC5FF;
  --confirmed-bg: #0D542B;
  --confirmed-bg-text: #7BF1A8;
  --completed-bg: #27272A;
  --canceled-bg: #82181A;
  --canceled-bg-text: #FFA2A2;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-white-off: var(--white-off);
  --color-table-text-h: var(--table-text-h);
  --color-table-text-id: var(--table-text-id);
  --color-border: var(--border);
  --color-table-bg: var(--table-bg);
  --color-offer-search: var(--offer-search);
  --color-offer-search-main: var(--offer-search-main);
  --color-offer-tab-text: var(--offer-tab-text);
  --color-sidebar-text: var(--sidebar-text);
  --color-all-sub-h: var(--all-sub-h);
  --color-table-row-bg: var(--table-row-bg);
  --color-scanner-text: var(--scanner-text);
  --color-gold: var(--gold);
  --color-gold-text: var(--gold-text);
  --color-silver: var(--silver);
  --color-silver-text: var(--silver-text);
  --color-bronze: var(--bronze);
  --color-bronze-text: var(--bronze-text);
  --color-payout-bg: var(--payout-bg);
  --color-payout-bg-text: var(--payout-bg-text);
  --color-payout-line-bg: var(--payout-line-bg);
  --color-panding-bg: var(--panding-bg);
  --color-panding-bg-text: var(--panding-bg-text);
  --color-tentative-bg: var(--tentative-bg);
  --color-tentative-bg-text: var(--tentative-bg-text);
  --color-confirmed-bg: var(--confiremd-bg);
  --color-confirmed-bg-text: var(--confirmed-bg-text);
  --color-completed-bg: var(--completed-bg);
  --color-canceled-bg: var(--canceled-bg);
  --color-canceled-bg-text: var(--canceled-bg-text);

}
@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.animate-slideIn {
  animation: slideIn 0.25s ease-out;
}


/* Fonts */
@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* No background here! */
body {
  font-family: Arial, Helvetica, sans-serif;
}