@import "tailwindcss";

:root{
  --border:#E5E7EB;
}
.dark {

  --text:#FFFFFF;
}

/* Fonts */
@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* No background here! */
body {
  font-family: Arial, Helvetica, sans-serif;
}
